.contenedor-footer {
    color: var(--color-texto-claro);
    padding-top: 10px;
    width: 95%;
}

.texto-link-footer {
    color: var(--color-texto-claro);
    font-size: 1em;
    align-self: flex-start;
    padding: 20px 0px;
    text-decoration: none;
}