.seccion-titulo-guias {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--color-fondo);
    padding-bottom: 40px;
}

.seccion-titulo-guias > h1 {
    margin-top: 70px;
    color: var(--color-texto-blanco);
    font-size: 3em;
}

.seccion-titulo-guias > p {
    font-size: 1.2em;
    color: var(--color-texto-claro-titulo);
    line-height: 1.7;
    width: 50%;
    margin-top:10px;
}

.seccion-sugerencias-guias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-fondo-claro);
    padding: 40px 0px;
    align-items: center;
}

.seccion-sugerencias-guias > h1 {
    font-size: 2em;
    margin-bottom: 40px;
    align-self: center;
}

.seccion-alerta-guias {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgb(252,229,205);
    align-items: center;
    padding: 30px 0px;
}


.seccion-alerta-contenido-guias {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
}

.seccion-alerta-contenido-guias-titulo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.seccion-alerta-contenido-guias > h1 {
    margin-top: 20px;
    font-size: 2.5em;
}

.seccion-alerta-contenido-guias-titulo > p > span {
    font-size: 1.1em;
    font-weight: bold;
    color: black
}

.seccion-alerta-contenido-guias-titulo > p {
    font-size: 1.2em;
    line-height: 1.7;
    color: var(--color-texto-claro);}

.seccion-alerta-contenido-guias > p {
    font-size: 1.2em;
    line-height: 1.7;
    color: var(--color-texto-claro);
    margin: 20px 0px;
}

.link-alerta-guias {
    margin-bottom: 20px;
}

.seccion-alerta-card-informacion {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    justify-content: space-around;
    margin: 20px 0px;
}

.contenedor-alerta-card-informacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 32%;
    padding-top: 30px;
}

.contenedor-alerta-card-informacion > img {
    width: 50px;
    height: 50px;
}

.contenedor-alerta-card-informacion > p {
    font-size: 1.2em;
    line-height: 1.7;
    color: var(--color-texto-claro);
    margin: 20px 0px;
}

.separador-guias {
    width: 100%;
    box-shadow: 0px 0px 5px rgb(121, 121, 121);
    background-color: rgb(183, 183, 183);
    height: .5px;
    margin: 40px 0px;
}

.seccion-zonas-escalada-guias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-fondo-claro);
    
}

.seccion-zonas-escalada-guias > img {
    margin-top: 30px;
    width: 60%;
}

.seccion-card-zonas {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 23%));
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
}

@media (max-width: 768px) {

    .seccion-titulo-guias {
        flex-direction: column;
        width: 90%;
        padding-bottom: 20px;
        align-items: center;
    }

    .seccion-titulo-guias > p {
        font-size: 1.1em;
        width: 100%;
        text-align: justify;
    }

    .seccion-titulo-guias > h1 {
        align-self: flex-start;
    }
    
    .seccion-alerta-guias {
        width: 98%;
    }
    
    .seccion-alerta-contenido-guias {
        width: 90%;
        align-items: flex-start;
    }

    .seccion-alerta-contenido-guias {
        text-align: justify;
    }
 
    .seccion-alerta-card-informacion {
        flex-direction: column;
        gap: 0px;
        width: 90%;
        margin: 20px 0px;
    }
    
    .contenedor-alerta-card-informacion {
        gap: 10px;
        width: 100%;
        padding-top: 30px;
    }

    .contenedor-alerta-card-informacion > p {
        margin: 0px 0px;
    }

    .separador-guias {
        display: none;    }
    
    .seccion-zonas-escalada-guias {
        width: 100%;
    }
    
    .seccion-zonas-escalada-guias > img {
        width: 100%;
    }
    
    .seccion-card-zonas {
        width: 95%;
        grid-template-columns: repeat(auto-fill, minmax(95%, 95%));
        gap: 10px;
    }

}
