:root {
    --color-fondo-menu: rgb(0, 0, 0);
    --color-fondo: rgb(34, 34, 34);
}

.barra-navegacion {
    display: flex;
    flex-direction: row;
    background-color: var(--color-fondo);
    width: 90vw;
    height: 76px;
    justify-content: space-around;
}

.seccion-barra {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.barra1 {
    justify-content: start;

}

.barra2 {
    justify-content: center;
}

.barra3 {
    justify-content: end;
}

.logo {
    height: 40px;
}

.texto-menu {
    font-size: .9em;
    color: rgb(255, 255, 255);
    opacity: .8;
    transition: opacity .2s ease-in-out;
}

.texto-menu-small {
    font-size: .6em;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.texto-menu:hover, texto-menu-peque:hover {
    opacity: 1;
    cursor: pointer;
}

.imagen-redes-sociales {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.imagen-redes-sociales:hover {
    opacity: .8;   
}

.contenedor-submenu {
    position: absolute;
    display: none;
}

.con-submenu:hover > .contenedor-submenu {
    display: block;
}

.submenu {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo-menu);
    padding: 15px 10px;
    margin-top: 20px;
    padding-right: 40px;
    gap: 5px;
    position: relative;
    z-index: 3;
    left: -10px;

}

.opciones-submenu {
    color: var(--color-texto-claro);
    cursor: pointer;
    margin: 3px 0px;
    font-size: .9em;
    font-weight: 600;
}

.opciones-submenu:hover {
    color: var(--color-texto-blanco);
}

@media (max-width: 768px) {
    .barra-navegacion {
        display: none
    }
}